/* styles.css */

/* Reset de margen y padding para asegurar consistencia en todos los navegadores */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Configuracion de estilos basicos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Estilo del contenedor del logo */
.logo-container img {
    height: 50px;
}

/* Estilos para el pie de pagina */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
}

footer img {
    height: 20px;
    vertical-align: middle;
}
